h1 {
    text-align: center;
    margin: 20px 0 10px 0;
}
  
p {
   margin: 5px 0 0 2px;
}

p[id="description"]{
    text-align: center;
    margin-bottom: 10px;
}
  
body { 
    background-color: rgb(165, 223, 183);
    margin: auto;
    width: 100%;
    font-family: Tahoma;
}
  
form {
    padding-left: 15px;
    max-width: 500ox;
    min-width: 300px;
}
  
label {
    display: block;
    margin: 0.5rem 0;
}
  
input, select, textarea {
    margin: 0.5;
    margin-left: 0.5rem;
    font-size: inherit;
}
  
div {
    margin-top: 20px;
    margin-bottom: 0px;
}

select{
    margin-top: 10px;
}
  
input[id="submit"]{
    display: block;
    margin-top: 20px;
    width: 60%;
}
  
input[id="number"]{
    width: 42%;
}
  
hr {
    color: rgba(85,100,197);
    margin-top: 20px;
    margin-bottom: -5px;
}
  
.bottomline {
    margin-bottom: 15px;
}

.container {
    border: 3px solid red;
    margin: auto;
    padding: 10px;
    width: 500px;
    background-color: rgb(97,112,206)
  }